html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
body,
.view {
  height: 100%;
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
  background-color: #1c2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1c2331;
}

/*VISTAS GENERALES DE 1 A 8*/
/*VISTA 1 --------------------------------------*/
.custombtn {
  background: #ffffff !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13) !important;
  border-radius: 19px !important;
  font-family: "Open Sans" !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 19px !important;
  line-height: 22px !important;
  color: #3f19f9 !important;
  padding: 10px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  text-transform: none !important;
  margin: 0;
  z-index: 4;
}

.custombtn :hover {
  background-color: #3f19f9 !important;
  color: #ffffff !important;
}

.custombtnindex {
  position: absolute;
  background: #ffffff !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13) !important;
  border-radius: 26.5px !important;
  font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 26px !important;
  line-height: 22px !important;
  color: #3f19f9 !important;
  padding: 15px !important;
  padding-left: 35px !important;
  padding-right: 50px !important;
  text-transform: none !important;
  left: 0;
}

.custombtnindex3 {
  background: #ffffff !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13) !important;
  border-radius: 26.5px !important;
  font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 26px !important;
  line-height: 22px !important;
  color: #3f19f9 !important;
  padding: 15px !important;
  padding-left: 25px !important;
  padding-right: 40px !important;
  text-transform: none !important;
}

.BannerTitle {
  font-family: "Open Sans", "sans serif";
  font-style: normal;
  font-weight: 800;
  font-size: 82px;
  line-height: 88px;
  color: #ffffff;
  margin-top: 10vh;
}

.first {
  position: absolute;
  left: 30%;
  top: -40px;
  z-index: 1 !important;
  width: 100%;
}
.second {
  position: absolute !important;
  left: 27%;
  top: -46px;
  z-index: 2 !important;
  width: 100%;
}
.third {
  position: absolute !important;
  left: 1.5%;
  top: -180px;
  z-index: 3 !important;
  width: 125%;
}

.triangulo-1 {
  position: absolute;
  z-index: 1;
  top: 74vh;
  left: 100%;
}
.triangulo-2 {
  position: absolute;
  z-index: 2;
  top: 73vh;
  left: 100%;
}
.triangulo-3 {
  position: absolute;
  z-index: 3;
  top: 71.5vh;
  left: 100%;
}

/*VISTA 2 --------------------------------------*/

.viewstyle2 {
  height: 95vh;
}
.BannerTitle2 {
  font-family: "Open Sans" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 460% !important;
  line-height: 78px !important;
  color: #3f19f9;
}

.parrafo1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 107.68%;
  color: #868686;
  width: 345px;
}

.gratis {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 63.28px;
  color: #41b8f9;
}

.sign {
  position: absolute;
  top: -25px;
  width: 42%;
}

.subwrite {
  position: absolute;
  background-color: #3f19f9;
  width: 18.5%;
  height: 1px;
  left: 3%;
  top: 15vh;
}

.btnlargo {
  position: absolute;
  text-align: right;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 3vh;
  color: #1e0e6f;
  background-color: none;
  border: 3.75px solid #3f19f9;
  box-sizing: border-box;
  border-radius: 43px;
  padding: 1vh 6vh 1vh 5vh;
  width: 100vh;
  left: -50vh;
  top: 65vh;
}

.card1 {
  position: absolute;
  border-color: #868686;
  background-color: #41b8f9;
  top: 8vh;
  left: 25%;
  box-shadow: 0px 0px 17.8674px 8.93372px rgba(0, 0, 0, 0.06) !important;
  z-index: 3;
  width: 55%;
  height: 55vh;
}

.card2 {
  position: absolute;
  border-color: #868686;
  background-color: #41b8f9;
  top: 6vh;
  left: 30%;
  box-shadow: 0px 0px 17.8674px 8.93372px rgba(0, 0, 0, 0.06) !important;
  z-index: 2;
  width: 55%;
  height: 55vh;
}

.card3 {
  position: absolute;
  border-color: #868686;
  background-color: #41b8f9;
  top: 4vh;
  left: 35.5%;
  box-shadow: 0px 0px 17.8674px 8.93372px rgba(0, 0, 0, 0.06) !important;
  z-index: 1;
  width: 55%;
  height: 55vh;
}

.cardbtn {
  background: #32ffd2;
  color: rgb(255, 255, 255);
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 10px;
  box-shadow: 0px 0px 13.4006px 6.2536px rgba(50, 255, 210, 0.25);
  border-radius: 38.415px;
}

.izq-1 {
  position: absolute !important;
  top: 6vh;
  left: 0;
}
.izq-2 {
  position: absolute !important;
  top: 20vh;
  left: 0;
}
.der-1 {
  position: absolute !important;
  top: 46vh;
  right: 1vw;
}
.der-2 {
  position: absolute !important;
  top: 18vh;
  right: 0;
}

/*VISTA 3 --------------------------------------*/
.BannerTitle3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 68px !important;
  color: #ffffff;
}

/*VISTA 4 --------------------------------------*/
.cardimg {
  position: relative;
  width: 10% !important;
}

.vertical {
  display: none;
}

.subtitulo4 {
  color: grey;
  font-size: 250%;
  font-weight: 600;
}

.textcards {
  font-size: 18px;
  color: #515151;
  line-height: 2.3vh;
}

.txtmod {
  margin-top: 1.5vh;
  margin-bottom: 1vh;
}

.txtmod3 {
  margin-bottom: 1.2vh;
}

.txtmod4 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/*VISTA 5 --------------------------------------*/
.BannerTitlecards {
  position: relative;
  font-size: 6vh;
  line-height: 6vh;

  font-weight: 700;
  color: #3f19f9;
}

/*VISTA 6 --------------------------------------*/
.BannerTitle5 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 58px !important;
  color: #ffffff;
}

.brandsstyle {
  margin-top: 10%;
}

.brandsstyle {
  display: flex;
}

.brandsstylemobile {
  display: none;
}

.bannerbajo {
  margin-top: 12vh;
  margin-bottom: 0%;
  background: linear-gradient(180deg, #3f19f9 0%, #2c0cc5 100%);
  height: 27vh;
}

.textbanner {
  position: relative;
  font-family: "Open Sans";
  font-size: 58px;
  color: white;
  font-weight: 600;
  top: -210px;
}

/*VISTA 7 --------------------------------------*/
.BannerTitle7 {
  position: relative;
  margin-top: 5vh;
  font-family: "Open Sans" !important;
  font-weight: 700 !important;
  font-size: 10vh !important;
  line-height: 8vh !important;
  color: #3f19f9;
  margin-bottom: 5vh;
}

.megatitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 107.68%;
  text-align: center;
  color: #128dfe;
  margin-bottom: 5%;
}

.cardplanes {
  width: 100%;
  height: 89%;
}

.backcard1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #41b8f9 0%, #32ffd2 126.06%);
  box-shadow: 0px 0px 17.8674px 8.93372px rgba(0, 0, 0, 0.06);
  border-radius: 19.6542px;
}
.backcard2 {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #41b8f9 0%, #3f19f9 126.06%);
  box-shadow: 0px 0px 17.8674px 8.93372px rgba(0, 0, 0, 0.06);
  border-radius: 19.6542px;
}
.backcard3 {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #3f19f9 0%, #17056b 126.06%);
  box-shadow: 0px 0px 17.8674px 8.93372px rgba(0, 0, 0, 0.06);
  border-radius: 19.6542px;
}

.contenidocard {
  padding: 3.5vh;
}

.titulo {
  font-weight: bold;
  font-size: 3.8vh;
  line-height: 139.18%;
  color: #ffffff;
}
.subtitulo {
  font-weight: bold;
  font-size: 2vh;
  line-height: 139.18%;
  color: white;
}
.precio {
  font-size: 3.6vh;
  font-weight: bold;
  color: #32ffd2;
}
.lista {
  font: "Open Sans";
  font-weight: 500;
  font-size: 2.8vh;
  line-height: 139.18%;
  color: white;
}

.btnplanes {
  position: relative;
  top: -2.5vh;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 2.2vh;
  color: #3f19f9;
  background: #ffffff;
  box-shadow: 0px 0px 29.3296px 14.6648px rgba(0, 0, 0, 0.082);
  border: none;
  border-radius: 43.5px;
  padding: 1vh 5vh 1vh 5vh;
}

.imgcrd1 {
  position: absolute;
  top: 0;
  right: 0;
  /*transform: scaleX(-1);*/
}

/*VISTA 8 final --------------------------------------*/
.BannerTitle8 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 58px !important;
  color: #41b8f9;
}

/* --- --- CAROUSEL --- --- */
.col-md-3 {
  display: inline-block;
  margin-left: -4px;
}

.col-md-3 img {
  width: 100%;
  height: auto;
}

body .carousel-indicators li {
  background-color: blue;
}

body .carousel-indicators {
  bottom: -80px;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
  background-color: blue;
}

body .no-padding {
  padding-left: 2%;
  padding-right: 2%;
}

/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/*AJUSTES RESPOSNIVOS DEL 1 AL 8*/
/*añadidos por px en medias queries divididos dentro.*/

/*tablets*/

@media (max-width: 1024px) {
  /*PRIMER VIEW*/
  .BannerTitle {
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 11vw;
    line-height: 10vw;
  }

  .first {
    width: 60vw;
    top: -10vw;
    left: 36vw;
    overflow: hidden;
  }
  .second {
    width: 60vw;
    top: -11vw;
    left: 37vw;
    overflow: hidden;
  }
  .third {
    width: 75vw;
    top: -19vw;
    left: 23vw;
    overflow: hidden;
  }
  .triangulo-1,
  .triangulo-2,
  .triangulo-3 {
    display: none;
  }

  /*SEGUNDO VIEW*/
  .BannerTitle2 {
    font-size: 10vw !important;
    line-height: 11vw !important;
  }
  .parrafo1 {
    margin-top: 5vw;
    font-size: 4vw;
  }
  .subwrite {
    width: 15vw;
    height: 0.5vw;
    top: 25vh;
  }
  .gratis {
    font-size: 10vw;
  }
  .sign {
    top: -5vw;
    width: 40vw;
  }
  .btnlargo {
    top: 90vw;
    margin-left: 0vh;
  }
}

@media (max-width: 991px) {
  /*PRIMER VIEW*/
  .custombtn {
    font-size: 1.5vh !important;
    z-index: 5;
  }
  .customcople2 {
    padding-top: 2.2vh !important;
    padding-bottom: 2.2vh !important;
  }
  .custombtnindex {
    position: relative;
    font-size: 3vh !important;
    margin-left: -35vh;
    z-index: 5;
  }
  .triangulo-1 .triangulo-2 .triangulo-3 {
    display: none !important;
  }

  /*SEGUNDO VIEW*/
  .BannerTitle2 {
    margin-top: -5vh;
    font-size: 8vh !important;
  }
  .izq-1,
  .izq-2 {
    display: none !important;
  }
  .btnlargo {
    font-size: 3vh;
    top: 68vh;
    left: -50vh;
  }

  .card1,
  .card2,
  .card3 {
    height: 35vh;
  }
  .card-title {
    font-size: 3vh;
  }
  .cardbtn {
    position: relative;
    font-size: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    top: -3.5vh;
  }
  .der-2 {
    top: 43vh;
  }
  .der-1 {
    top: 72vh;
    right: 5vh;
  }

  /*TERCER VIEW*/
  .viewstyle {
    border-radius: 0px 190px !important;
    height: 115vh;
  }
  .BannerTitle3 {
    margin-right: 10vh;
  }
  .subview3 {
    margin-right: 10vh;
  }
  .listview3 {
    margin-left: 5vh !important;
  }
  .imgtech {
    top: -15vh;
  }
  .custombtnindex3 {
    position: absolute;
    left: 5vh;
    z-index: 4;
  }

  /*QUINTO VIEW*/
  .carddisplay {
    height: 24vh;
  }

  /*SECTO VIEW*/
  .textbanner {
    font-size: 5vh;
    line-height: 6vh;
  }

  /*SEPTIMO VIEW*/
  .cardplanes {
    height: auto;
  }
  .megatitle {
    margin-top: 5vh;
  }
}

@media (max-width: 700px) {
  /*SEXTO VIEW*/
  .brandsstyle {
    display: none !important;
  }
}

@media (max-width: 575px) {
  /*SEPTIMO VIEW*/
  .BannerTitle7 {
    font-size: 6vh !important;
    line-height: 5vh !important;
  }
  .cardplanes {
    width: 95%;
    margin-left: 2.5vw;
    height: auto;
  }
}

@media (max-width: 430px) {
  /*PRIMER VIEW*/
  .custombtn {
    font-size: 78% !important;
    padding: 8px !important;
    margin: 0;
    margin-top: -20px !important;
  }
  .customcople1 {
    position: relative;
    width: 180px;
    left: 0px;
    margin-bottom: 10px !important;
  }
  .customcople2 {
    position: relative;
    width: 120px;
    left: 5px;
    top: -11% !important;
  }
  .customcople3 {
    position: relative;
    width: 220px;
    left: 0px;
    margin-top: 10px !important;
  }
  .BannerTitle {
    position: relative;
    font-size: 260% !important;
    line-height: 40px !important;
    padding-top: 10px;
  }
  .custombtnindex {
    position: absolute;
    top: 22vh !important;
    font-size: 80% !important;
    margin-left: 5%;
    margin-top: 5%;
    padding: 1% !important;
    padding-right: 5% !important;
  }
  /*mac*/
  .third {
    position: relative;
    width: 100%;
    top: -10vh;
    left: 1%;
  }
  /*blue*/
  .second {
    position: relative;
    width: 85%;
    top: -5vh;
    left: 16%;
  }
  /*white*/
  .first {
    position: relative;
    width: 88%;
    top: -3vh;
    left: 17%;
  }

  /*SEGUNDO VIEW*/
  .viewstyle2 {
    height: 100vh !important;
  }
  .izq-1 {
    display: flex;
    width: 10%;
    top: 15vh;
  }
  .izq-2 {
    display: flex;
    width: 25%;
    top: 30vh;
  }
  .der-1 {
    width: 10%;
    top: 30vh;
  }
  .der-2 {
    width: 20%;
    top: 5vh;
  }
  .BannerTitle2 {
    font-size: 250% !important;
    line-height: 45px !important;
    text-align: center;
    margin-top: -100px !important;
  }

  .subwrite {
    top: -15px;
    left: 40%;
  }

  .parrafo1 {
    text-align: center !important;
    width: auto;
    font-size: 5vw;
  }

  .gratis {
    position: relative;
    font-size: 10vw;
    left: 30%;
    top: -40px;
  }

  .sign {
    top: -55px !important;
    left: 30%;
  }

  .card1 {
    position: absolute;
    width: 48%;
    height: 40vh !important;
    top: -8vh;
    left: 110px;
  }

  .card2 {
    position: absolute;
    width: 48%;
    height: 40vh !important;
    top: -10vh;
    left: 120px;
  }

  .card3 {
    position: absolute;
    width: 48%;
    height: 40vh !important;
    top: -12vh;
    left: 130px;
  }

  .card-title {
    position: absolute !important;
    font-size: 3vh !important;
    top: 22vh;
    left: 4.5vh !important;
  }

  .card-text {
    position: absolute !important;
    font-size: 1.5vh !important;
    top: 26vh !important;
    left: 4.5vh;
  }

  .cardbtn {
    position: absolute;
    font-size: 70%;
    margin: 0%;
    padding: 5%;
    left: 4.5vh;
    top: 34.5vh !important;
    color: white;
  }

  .btnlargo {
    position: absolute;
    font-size: 18px;
    top: 75vh !important;
    left: -55vh;
  }

  /*TERCER VIEW*/
  .viewstyle {
    border-radius: 0px 118px !important;
    height: 120vh;
  }
  .viewstyle-custombtnindex {
    left: -50%;
  }
  .BannerTitle3 {
    position: relative;
    top: -5vh;
    font-size: 39px !important;
    left: -10%;
  }
  .subview3 {
    position: relative;
    top: -6vh;
    font-size: 2vh !important;
    left: -10%;
  }
  .listview3 {
    position: relative;
    top: -10vh;
    font-size: 26px !important;
    left: 2vh;
  }
  .custombtnindex3 {
    position: absolute;
    text-align: center;
    font-size: 18px !important;
    padding: 5px 30px 5px 30px !important;
    top: 30vh !important;
    left: 2vh;
    z-index: 2;
  }
  .imgtech {
    position: relative;
    width: 7% !important;
    left: -30%;
    top: -20vh;
  }

  /*CUARTO VIEW*/
  .viewstyle4 {
    height: 170vh !important;
  }
  .filafull {
    display: none;
  }
  .vertical {
    position: absolute;
    display: flex;
    width: auto;
  }
  .subtitulo4 {
    position: absolute;
    font-size: 120%;
    font-weight: 600;
    top: -50%;
    left: 20%;
    text-align: center;
  }

  /*QUINTO VIEW*/
  .BannerTitlecards {
    position: relative;
    font-size: 5vh;
    line-height: 5vh;
    top: -6vh !important;
    font-weight: 700;
  }
  .viewstyle5 {
    height: 180vh !important;
  }
  .carddisplay {
    height: 150% !important;
  }
  .crd1 {
    position: absolute;
    height: 8.2%;
    top: 11%;
    text-align: center;
  }
  .crd2 {
    position: absolute;
    top: 25%;
    height: 8%;
  }
  .crd3 {
    position: absolute;
    top: 39%;
    height: 8%;
  }
  .crd4 {
    position: absolute;
    top: 53%;
    height: 8.2%;
  }
  .crd5 {
    position: absolute;
    top: 67%;
    height: 8%;
  }
  .crd6 {
    position: absolute;
    top: 81%;
    height: 8%;
  }
  .txtmod {
    margin-top: 0vh;
  }

  /*sexto view*/
  .viewstyle6 {
    height: auto;
  }
  .BannerTitle5 {
    position: relative;
    top: -1vh;
    font-size: 6vw !important;
  }
  .textbanner {
    font-size: 2vh;
    top: -8vh;
  }
  .imgradio {
    width: 150%;
    height: 10vh !important;
    top: 0vh;
  }
  .bannerbajo {
    position: relative;
    height: 10vh;
    top: -0vh !important;
  }
  .brandsstyle {
    display: none;
  }
  .brandsstylemobile {
    display: flex;
  }
  .containerdp5 {
    margin-top: 18px !important;
  }
  .brand1 {
    width: 70%;
    margin-bottom: 20%;
  }
}

/*Iphone 11 (6.1) viewport(414 x 896)*/
@media (max-width: 420px) {
  /*PRIMER VIEW*/
  .custombtn {
    font-size: 70% !important;
    padding: 8px !important;
    margin: 0;
    margin-top: -20px !important;
  }
  .customcople1 {
    position: relative;
    width: 180px;
    left: 0px;
    margin-bottom: 10px !important;
  }
  .customcople2 {
    position: relative;
    width: 120px;
    left: 5px;
    top: -11% !important;
  }
  .customcople3 {
    position: relative;
    width: 220px;
    left: 0px;
    margin-top: 10px !important;
  }
  .BannerTitle {
    position: relative;
    font-size: 260% !important;
    line-height: 40px !important;
    padding-top: 10px;
  }
  .custombtnindex {
    position: absolute;
    top: 60% !important;
    font-size: 80% !important;
    margin-left: 5%;
    margin-top: 5%;
    padding: 1% !important;
    padding-right: 5% !important;
  }
  /*mac*/
  .third {
    position: relative;
    width: 100%;
    top: -5vh;
    left: 1%;
  }
  /*blue*/
  .second {
    position: relative;
    width: 85%;
    margin-top: -14%;
    left: 16%;
  }
  /*white*/
  .first {
    position: relative;
    width: 88%;
    margin-top: -13%;
    left: 17%;
  }

  /*SEGUNDO VIEW*/
  .viewstyle2 {
    height: 100vh !important;
  }
  .izq-1 {
    display: flex !important;
    width: 10%;
    top: 15vh;
  }
  .izq-2 {
    display: flex !important;
    width: 25%;
    top: 30vh;
  }
  .der-1 {
    width: 10%;
    top: 30vh;
  }
  .der-2 {
    width: 20%;
    top: 5vh;
  }
  .BannerTitle2 {
    font-size: 250% !important;
    line-height: 45px !important;
    text-align: center;
    margin-top: -100px !important;
  }

  .subwrite {
    top: -15px;
    margin-left: 1.5vh;
  }

  .parrafo1 {
    text-align: center !important;
    width: auto;
    font-size: 5vw;
  }

  .gratis {
    position: relative;
    font-size: 10vw;
    left: 30%;
    top: -40px;
  }

  .sign {
    top: -55px !important;
    left: 30%;
  }

  .card1 {
    position: absolute;
    width: 37%;
    height: 38vh !important;
    top: -9vh;
    left: 110px;
  }

  .card2 {
    position: absolute;
    width: 37%;
    height: 38vh !important;
    top: -11vh;
    left: 120px;
  }

  .card3 {
    position: absolute;
    width: 37%;
    height: 38vh !important;
    top: -13vh;
    left: 130px;
  }

  .card-title {
    position: absolute !important;
    font-size: 1vh !important;
    top: 5vh;
    left: 20% !important;
  }

  .card-text {
    position: absolute !important;
    font-size: 1.5vh !important;
    top: 0vh !important;
    left: 0;
  }

  .cardbtn {
    position: absolute;
    font-size: 70%;
    margin: 0%;
    padding: 5%;
    left: 8%;
    top: 32vh !important;
    color: white;
  }

  .btnlargo {
    position: absolute;
    font-size: 18px;
    top: 60vh !important;
    left: -55vh;
  }

  /*TERCER VIEW*/
  .viewstyle {
    border-radius: 0px 118px !important;
    height: 120vh;
  }
  .viewstyle-custombtnindex {
    left: -50%;
  }
  .BannerTitle3 {
    position: relative;
    top: -5vh;
    font-size: 39px !important;
    margin-right: 0;
  }
  .subview3 {
    position: relative;
    top: -6vh;
    font-size: 2vh !important;
    margin-right: 0;
  }
  .listview3 {
    position: relative;
    top: -10vh;
    font-size: 26px !important;
    margin-left: 0 !important;
  }
  .custombtnindex3 {
    position: absolute;
    text-align: center;
    font-size: 18px !important;
    padding: 5px 30px 5px 30px !important;
    top: 40vh !important;
    left: 2vh;
    z-index: 2;
  }
  .imgtech {
    position: relative;
    width: 7% !important;
    left: -30%;
    top: -20vh;
  }
  .custombtnindex3 {
    margin-top: -0vh;
  }

  /*CUARTO VIEW*/
  .viewstyle4 {
    height: 180vh !important;
  }
  .filafull {
    display: none;
  }
  .vertical {
    position: absolute;
    display: flex;
    width: auto;
  }
  .subtitulo4 {
    position: absolute;
    font-size: 120%;
    font-weight: 600;
    top: -50%;
    margin-left: -1.5vh;
    text-align: center;
  }

  /*QUINTO VIEW*/
  .BannerTitlecards {
    position: relative;
    font-size: 5vh;
    line-height: 5vh;
    top: -6vh !important;
    font-weight: 700;
  }
  .viewstyle5 {
    height: 180vh !important;
  }
  .carddisplay {
    height: 150% !important;
  }
  .crd1 {
    position: absolute;
    height: 8.2%;
    top: 11%;
    text-align: center;
  }
  .crd2 {
    position: absolute;
    top: 25%;
    height: 8%;
  }
  .crd3 {
    position: absolute;
    top: 39%;
    height: 8%;
  }
  .crd4 {
    position: absolute;
    top: 53%;
    height: 8.2%;
  }
  .crd5 {
    position: absolute;
    top: 67%;
    height: 8%;
  }
  .crd6 {
    position: absolute;
    top: 81%;
    height: 8%;
  }
  .txtmod {
    margin-top: 0vh;
  }

  /*sexto view*/
  .viewstyle6 {
    height: auto;
  }
  .BannerTitle5 {
    position: relative;
    top: -1vh;
    font-size: 6vw !important;
  }
  .textbanner {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 2vh;
    top: -8vh;
    line-height: 3vh;
  }
  .imgradio {
    width: 150%;
    height: 10vh !important;
    top: 0vh;
  }
  .bannerbajo {
    position: relative;
    height: 10vh;
    top: -0vh !important;
  }
  .brandsstyle {
    display: none;
  }
  .brandsstylemobile {
    display: flex;
  }
  .containerdp5 {
    margin-top: 18px !important;
  }
  .brand1 {
    width: 70%;
    margin-bottom: 20%;
  }
}

@media (max-height: 900px) {
  /*PRIMER VIEW*/
  /*mac*/
  .third {
    margin-top: 0vh;
  }

  /*blue*/
  .second {
    margin-top: 4vh;
  }
  /*white*/
  .first {
    margin-top: 4vh;
  }
  .BannerTitle {
    position: relative;
    font-size: 5vh !important;
    line-height: 6vh !important;
    top: auto;
  }
  .custombtnindex {
    top: 26vh !important;
  }

  /*SEGUNDO VIEW*/
  .gratis {
    font-size: 6.5vh;
    left: 20vw;
    top: -4vh;
  }
  .card1 {
    width: 50%;
    height: 70%;
    left: 22vw;
  }
  .card2 {
    width: 50%;
    height: 70%;
    left: 24.5vw;
  }
  .card3 {
    width: 50%;
    height: 70%;
    left: 26.5vw;
  }
  .card-title {
    left: 9vw !important;
    font-size: 3.5vh !important;
    top: 24vh;
  }
  .card-text {
    top: 28vh !important;
    left: 14vw;
  }
  .cardbtn {
    left: 10vw;
    top: 29.5vh;
  }
  .btnlargo {
    position: absolute;
    box-sizing: border-box;
    top: 73vh !important;
  }

  /*cuarto view*/
  .viewstyle4 {
    height: 145%;
  }
}

@media (max-height: 820px) {
  /*PRIMER VIEW*/
  /*mac*/
  .third {
    margin-top: 0vh;
  }

  /*SEGUNDO VIEW*/
  .gratis {
    font-size: 6.5vh;
    left: 25vw;
    top: -4vh;
  }
  .card1 {
    width: 50%;
    height: 70%;
    left: 22vw;
  }
  .card2 {
    width: 50%;
    height: 70%;
    left: 24.5vw;
  }
  .card3 {
    width: 50%;
    height: 70%;
    left: 26.5vw;
  }
  .card-title {
    left: 11vw !important;
    font-size: 3.5vh !important;
    top: 28vh;
  }
  .card-text {
    top: 32vh !important;
    left: 14vw;
  }
  .cardbtn {
    left: 10vw;
    top: 33vh;
  }
  .btnlargo {
    top: 40vh;
  }
}

@media (max-height: 760px) {
  /*3er view*/
  .custombtnindex3 {
    margin-top: 10vh;
  }

  /*cuarto view*/
  .viewstyle4 {
    height: 190vh !important;
  }

  /*quinto view*/
  .viewstyle5 {
    height: 200vh !important;
  }
}

@media (max-height: 740px) {
  /*PRIMER VIEW*/
  /*mac*/
  .third {
    top: -15vh;
  }
  /*blue*/
  .second {
    margin-top: -6vh;
  }
  /*white*/
  .first {
    margin-top: -6vh;
  }
  .custombtnindex {
    top: 22vh !important;
  }

  /*SEGUNDO VIEW*/
  .gratis {
    font-size: 6.5vh;
    left: 25vw;
    top: -4vh;
  }
  .card1 {
    width: 45%;
    height: 65%;
    left: 25vw;
  }
  .card2 {
    width: 45%;
    height: 65%;
    left: 28vw;
  }
  .card3 {
    width: 45%;
    height: 65%;
    left: 30vw;
  }
  .card-title {
    left: 9vw !important;
    font-size: 3.5vh !important;
    top: 25vh;
  }
  .card-text {
    top: 29vh !important;
    left: 11vw;
  }
  .cardbtn {
    left: 8vw;
    top: 32vh;
  }
  .btnlargo {
    margin-top: 0vh;
  }
}

@media (max-height: 670px) {
  /*PRIMER VIEW*/
  /*mac*/
  .third {
    margin-top: 0vh;
  }

  /*SEGUNDO VIEW*/
}

@media (max-height: 620px) {
  /*SEGUNDO VIEW*/
  .gratis {
    font-size: 9vw !important;
    left: 33% !important;
    top: -40px;
  }
  .card1 {
    height: 38vh !important;
  }
  .card2 {
    height: 38vh !important;
  }
  .card3 {
    height: 38vh !important;
  }
  .btnlargo {
    top: 68vh !important;
  }

  /*SEXTO VIEW*/
  .bannerbajo {
    top: 0vh !important;
    height: 8vh !important;
  }
  .textbanner {
    font-size: 2vh !important;
  }
}

@media (max-height: 480px) {
  /*SEGUNDO VIEW*/
  .gratis {
    font-size: 9vw !important;
    left: 33% !important;
    top: -60px;
  }
  .card1 {
    height: 48% !important;
  }
  .card2 {
    height: 48% !important;
  }
  .card3 {
    height: 48% !important;
  }
  .btnlargo {
    top: 58vh !important;
  }
  .borderbtn {
    top: 53vh !important;
  }
  .card-title {
    top: 31vh;
  }
  .card-text {
    top: 36vh !important;
  }
  .cardbtn {
    top: 40vh;
    left: 12vw !important;
    font-size: 1.5vh;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  /*CUARTO VIEW*/
  .viewstyle4 {
    height: 210vh;
  }

  /*QUINTO VIEW*/
  .crd1 img {
    width: 55%;
  }
  .crd2 img {
    width: 55%;
  }
  .crd3 img {
    width: 55%;
  }
  .crd4 img {
    width: 55%;
  }
  .crd5 img {
    width: 55%;
  }
  .crd6 img {
    width: 55%;
  }
  .textcards {
    font-size: 2.5vh;
    margin-bottom: 0vh;
    margin-top: -2vh;
  }
  .txtmod4 {
    margin-top: 1.5px;
  }
}

/*Iphone 6/7/8 (5.5) viewport(375 x 667)*/
@media (max-width: 380px) {
  /*PRIMER VIEW*/
  .custombtn {
    font-size: 12px !important;
    padding: 8px !important;
    text-transform: none !important;
    margin: 0;
    margin-top: -20px !important;
  }
  .customcople1 {
    position: relative;
    width: 180px;
    left: 0px;
    margin-bottom: 10px !important;
  }
  .customcople2 {
    position: relative;
    width: 120px;
    left: 5px;
    top: -11% !important;
  }
  .customcople3 {
    position: relative;
    width: 220px;
    left: 0px;
    margin-top: 10px !important;
  }
  .BannerTitle {
    position: relative;
    font-size: 32px !important;
    line-height: 40px !important;
    padding-top: 10px;
  }
  .custombtnindex {
    position: absolute;
    top: 55% !important;
    font-size: 80% !important;
    margin-left: 5%;
    margin-top: 6vh;
    padding: 1% !important;
    padding-right: 5% !important;
  }
  /*mac*/
  .third {
    position: relative;
    width: 100%;
    top: -10vh;
    left: 1%;
  }
  /*blue*/
  .second {
    position: relative;
    width: 85%;
    top: 0vh;
    left: 16%;
  }
  /*white*/
  .first {
    position: relative;
    width: 88%;
    top: 1vh;
    left: 17%;
  }
  .customview1 {
    width: auto;
    height: auto;
    margin: 0%;
  }

  /*SEGUNDO VIEW*/
  .BannerTitle2 {
    font-size: 210% !important;
    line-height: 38px !important;
    text-align: center;
    margin-top: -100px !important;
  }
  .subwrite {
    top: -35px;
    left: 40%;
  }
  .parrafo1 {
    text-align: center;
    width: auto;
    font-size: 4.5vw;
  }
  .gratis {
    position: relative;
    font-size: 10vw;
    left: 30%;
    top: -40px;
  }
  .sign {
    top: -55px !important;
    left: 30%;
  }
  .card1 {
    position: absolute;
    width: 37%;
    height: 55%;
    top: -10vh;
    left: 110px;
  }
  .card2 {
    position: absolute;
    width: 37%;
    height: 55%;
    top: -12vh;
    left: 120px;
  }
  .card3 {
    position: absolute;
    width: 37%;
    height: 55%;
    top: -14vh;
    left: 130px;
  }
  .card-title {
    font-size: 130% !important;
    top: 60%;
    left: 20% !important;
  }
  .card-text {
    font-size: 70% !important;
    top: 70% !important;
    left: 15%;
  }
  .cardbtn {
    position: absolute;
    font-size: 70%;
    margin: 0%;
    padding: 5%;
    left: 8%;
    top: 80%;
    color: white;
  }
  .btnlargo {
    font-size: 18px;
    margin-top: 0vh;
    left: -50vh;
  }

  /*TERCER VIEW*/
  .viewstyle {
    border-radius: 0px 118px !important;
  }
  .viewstyle-custombtnindex {
    left: -50%;
  }
  .BannerTitle3 {
    position: relative;
    top: -70px;
    font-size: 35px !important;
    left: -5%;
  }
  .subview3 {
    position: relative;
    top: -80px;
    font-size: 12px !important;
    left: -5%;
  }
  .listview3 {
    position: relative;
    top: -120px;
    font-size: 20px !important;
    left: 5vh;
  }
  .custombtnindex3 {
    position: absolute;
    text-align: center;
    font-size: 18px !important;
    padding: 5px 30px 5px 30px !important;
    top: 60% !important;
    left: 15%;
    z-index: 2;
  }
  .imgtech {
    position: relative;
    width: 5% !important;
    left: -30%;
    top: -200px;
  }

  /*CUARTO VIEW*/
  .viewstyle4 {
    height: 190vh !important;
  }
  .filafull {
    display: none;
  }
  .vertical {
    position: absolute;
    display: flex;
    width: auto;
  }
  .subtitulo4 {
    position: absolute;
    font-size: 120%;
    font-weight: 600;
    top: -280% !important;
    left: 20%;
    text-align: center;
  }

  /*QUINTO VIEW*/
  .crd1 img {
    width: 65%;
  }
  .crd1 img {
    width: 65%;
  }
  .crd2 img {
    width: 65%;
  }
  .crd3 img {
    width: 65%;
  }
  .crd4 img {
    width: 65%;
  }
  .crd5 img {
    width: 65%;
  }
  .crd6 img {
    width: 65%;
  }
  .textcards {
    font-size: 2.5vh;
  }

  /*SEXTO VIEW*/
  .viewstyle6 {
    height: auto;
  }
  .BannerTitle5 {
    position: relative;
    top: -1vh;
    font-size: 6vw !important;
  }
  .textbanner {
    font-size: 2vh;
    top: -8vh;
  }
  .imgradio {
    width: 150%;
    height: 10vh !important;
    top: 0vh;
  }
  .bannerbajo {
    position: relative;
    height: 10vh;
    top: -0vh !important;
  }
  .brandsstyle {
    display: none;
  }
  .brandsstylemobile {
    display: flex;
  }
  .containerdp5 {
    margin-top: 18px !important;
  }
  .brand1 {
    width: 70%;
    margin-bottom: 5%;
  }
}

/*Iphone 6/7/8 (5.5) viewport(375 x 667)*/
@media (max-width: 320px) {
  /*PRIMER VIEW*/
  .custombtn {
    font-size: 12px !important;
    padding: 2px !important;
    text-transform: none !important;
    margin: 0;
  }
  .customcople1 {
    position: absolute;
    left: 2vw;
  }
  .customcople2 {
    position: absolute;
    left: 28vw;
    top: 0vh !important;
  }
  .customcople3 {
    position: absolute;
    left: -50vw;
  }
  .BannerTitle {
    position: absolute;
    font-size: 28px !important;
    line-height: 30px !important;
    padding-top: 10vh;
  }
  .custombtnindex {
    position: absolute;
    top: 30vh !important;
  }
  /*mac*/
  .third {
    position: relative;
    width: 65%;
    top: 20vh;
    left: 35vw;
  }
  /*blue*/
  .second {
    position: relative;
    width: 54%;
    top: 30vh;
    left: 48vw;
  }
  /*white*/
  .first {
    position: relative;
    width: 58%;
    top: 30vh;
    left: 45vw;
  }
  .customview1 {
    width: auto;
    height: 90vh;
  }

  /*SEGUNDO VIEW*/
  .viewstyle2 {
    height: 120vh !important;
  }
  .BannerTitle2 {
    font-size: 130% !important;
  }
  .subwrite {
    display: none;
  }
  .parrafo1 {
    position: relative;
    font-size: 4vw;
    top: -5vh !important;
  }
  .gratis {
    position: relative;
    font-size: 10vw;
    left: 30%;
    top: -13vh;
  }
  .sign {
    top: -16vh !important;
    left: 30%;
  }
  .card1 {
    position: absolute;
    width: 48%;
    height: 51vh !important;
    top: -15vh !important;
    left: 80px;
  }
  .card2 {
    position: absolute;
    width: 48%;
    height: 51vh !important;
    top: -17vh !important;
    left: 90px;
  }
  .card3 {
    position: absolute;
    width: 48%;
    height: 51vh !important;
    top: -19vh !important;
    left: 100px;
  }
  .card-title {
    font-size: 130% !important;
    top: 62%;
    left: 22% !important;
  }
  .card-text {
    font-size: 70% !important;
    top: 74% !important;
    left: 19%;
  }
  .cardbtn {
    position: absolute;
    font-size: 70%;
    margin: 0%;
    padding: 5%;
    left: 12% !important;
    top: 43.5vh !important;
    color: white;
  }
  .btnlargo {
    font-size: 18px;
    top: 76vh !important;
    left: -35vh;
  }

  /*TERCER VIEW*/
  .viewstyle {
    border-radius: 0px 78px !important;
    height: 100vh;
  }
  .viewstyle-custombtnindex {
    left: -50%;
  }
  .BannerTitle3 {
    left: -5%;
  }
  .subview3 {
    position: relative;
    top: -80px;
    font-size: 12px !important;
    left: -5%;
  }
  .listview3 {
    position: relative;
    top: -120px;
    font-size: 20px !important;
    left: 10px;
  }
  .custombtnindex3 {
    position: absolute;
    text-align: center;
    font-size: 18px !important;
    padding: 5px 30px 5px 30px !important;
    top: 60% !important;
    left: 5%;
    z-index: 2;
  }
  .imgtech {
    position: absolute;
    width: 5% !important;
    left: -30%;
    top: 25vh;
  }

  /*CUARTO VIEW*/
  .viewstyle4 {
    height: 320vw !important;
  }
  .filafull {
    display: none;
  }
  .vertical {
    position: relative !important;
    display: flex;
    width: auto;
    height: 280vw;
  }
  .subtitulo4 {
    position: absolute;
    font-size: 110%;
    font-weight: 600;
    top: -9vh !important;
    left: 15vw;
    text-align: center;
  }

  /*QUINTO VIEW*/
  .BannerTitle2 {
    line-height: 8vw !important;
  }
  .crd1 img {
    width: 12vw !important;
    height: 12vw !important;
  }
  .crd2 img {
    width: 15vw !important;
    height: 15vw !important;
  }
  .crd3 img {
    width: 15vw !important;
    height: 15vw !important;
  }
  .crd4 img {
    width: 12vw !important;
    height: 12vw !important;
  }
  .crd5 img {
    width: 15vw !important;
    height: 15vw !important;
  }
  .crd6 img {
    width: 15vw !important;
    height: 15vw !important;
  }
  .textcards {
    font-size: 2.5vh;
  }

  /*SEXTO VIEW*/
  .viewstyle6 {
    height: auto;
  }
  .BannerTitle5 {
    position: relative;
    top: -1vh;
    font-size: 6vw !important;
  }
  .textbanner {
    font-size: 2vh;
    top: -8vh;
  }
  .imgradio {
    width: 190vw !important;
    height: 10vh !important;
    top: 0vh;
  }
  .bannerbajo {
    position: relative;
    height: 10vh !important;
    top: 0vh !important;
  }
  .brandsstyle {
    display: none;
  }
  .brandsstylemobile {
    display: flex;
  }
  .containerdp5 {
    margin-top: 18px !important;
  }
  .brand1 {
    width: 70%;
    margin-bottom: 5%;
  }

  /*SEPTIMO VIEW*/
  .cardplanes {
    width: 95%;
    margin-left: 2.5vw;
    height: auto;
  }
}

/*macbook*/
@media (min-width: 1020px) and (max-height: 800px) {
  /*PRIMER VIEW*/
  .BannerTitle {
    font-size: 6.5vw !important;
    margin-left: 7vh;
    line-height: 6vw !important;
  }
  .second {
    margin-top: 1vh;
  }

  .customcople2 {
    left: -8vw;
  }
  .customcople3 {
    left: -15vw;
  }
  .custombtnindex {
    margin-top: 22vw;
    margin-left: 9vh;
  }

  /*segundo view*/
  .BannerTitle2 {
    margin-top: -10vh;
    margin-left: 5vh;
  }
  .subwrite {
    margin-top: -9vh;
    margin-left: 5vh;
    top: 20vh;
  }
  .parrafo1 {
    margin-left: 5vh;
  }
  .gratis {
    font-size: 10vh;
    margin-left: 5vh;
  }
  .sign {
    margin-left: 5vh;
  }
  .izq-1,
  .izq-2 {
    display: none !important;
  }
  .der-1 {
    top: 55vh;
  }
  .btnlargo {
    left: -40vh;
    top: 65vh !important;
  }

  .card1 {
    top: 2vh;
    left: 0;
    height: 65vh;
  }
  .card2 {
    top: -2vh;
    left: 4vh;
    height: 65vh;
  }
  .card3 {
    top: -6vh;
    left: 8vh;
    height: 65vh;
  }
  .card-title {
    font-size: 6vh !important;
    margin-top: -2vh !important;
  }
  .cardbtn {
    padding-left: 4vh;
    padding-right: 4vh;
  }

  /*cuarto view*/
  .viewstyle4 {
    height: 100vh !important;
  }

  /*quinto view*/
  .viewstyle5 {
    height: 100vh !important;
  }

  /*sexto view*/
  .textbanner {
    line-height: 9vh;
  }
}

@media (min-width: 1220px) {
  .customcople2 {
    left: -8vw;
  }
  .customcople3 {
    left: -15vw;
  }
}

@media (min-width: 576px) {
  .imgcontainer {
    width: 200px !important;
    margin-left: 30px;
  }
}

@media (min-width: 768px) {
  .imgcontainer {
    width: 250px !important;
    margin-left: 40px;
  }
}

@media (min-width: 992px) {
  .imgcontainer {
    width: 175px !important;
    margin-left: -50px;
  }
}


@media (min-height: 1110px) and (max-height: 2250px) {
  /*2do view*/
  .izq-1,
  .izq-2 {
    display: none !important;
  }

  .card1 {
    left: 3.5vh;
    width: 25vh;
    height: 40vh;
  }
  .card2 {
    left: 4.5vh;
    width: 25vh;
    height: 40vh;
  }
  .card3 {
    left: 5.5vh;
    width: 25vh;
    height: 40vh;
  }



  .carddisplay{
    height: 16.5vh;
  }


  .textbanner{
    line-height: 4vh;
  }
  .bannerbajo{
    height: 18vh;
  }


  .titulo, .subtitulo, .precio, .lista, .btnplanes{
    font-size: 100%;
  }
  .BannerTitle7{
    font-size: 5.5vh !important;
  }
}

